.small__nav {
	display: flex;
	gap: 2rem;
	padding: 0 1rem;
	position: relative;
}

.logo,
.small__nav-btn {
	z-index: 10;
}

.logo {
	width: 4rem;
}
.logo > svg {
	transition: fill 500ms ease-in-out;
}

.small__nav-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	border: none;
	background: none;
	font-size: var(--text-xl);
	font-family: var(--heading);
	font-weight: 500;
	transition: color 500ms ease-in-out;
}
.small__nav-arrow {
	margin-top: 0.2rem;
	transition: transform 500ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.small__nav-menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 1.5rem;
	top: -100vh;
	left: 0;
	height: 100vh;
	width: 100vw;
	padding: 0.5rem 0 2rem 1.1rem;
	background-color: var(--blue);
	color: var(--white);
	transition: top 500ms ease-in-out;
}

.small__nav-link {
	font-family: var(--heading);
	font-size: var(--text-xl);
	font-weight: 600;
	letter-spacing: 0.08em;
}

.small__nav-link-smaller {
	font-size: var(--text-base);
	font-family: var(--heading);
	letter-spacing: 0.08em;
}

@media (min-width: 75rem) {
	.small__nav {
		display: none;
	}
}
